!!!
%html{lang:"en"}
  %head
    %meta{"http-equiv" => "x-ua-compatible", :content => "ie-edge"}
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}

    %title= current_page.data.title || "Kao"

    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

  %body
    = yield